/*-------------------------------------------------------Settings-------------------------------------------------------------------*/
*{
    outline: none;
    text-decoration: none;
}
body{
    font-family: "lato";
    font-weight:300;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
/*-------------------------------------------------------Header-------------------------------------------------------------------*/
.header{
    background-color: #222222;
}
.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}
.header-logo__img{
    margin-right: 41px;
}
.my-acc__img{
    margin: 0 33px;
}
.cart{
    display: inline-block;
    position: relative;
}
.cart__number{
    position: absolute;
    right: -8px;
    top: -5px;
    border-radius: 100%;
    width: 19px;
    height: 19px;
    background-color: #F16D7F;
    text-align: center;
    color: #ffffff;
    line-height: 19px;
    font-size: 12px;

}

/*------------------------------------------------------------Banner--------------------------------------------------------------------*/
.banner{
    background-color: #F1E4E6;
}
.banner-flex{
   display: flex;
}
.banner-left{
    width: 50%;
}
.banner-right{
    width: 50%;
}

.banner__text{
    display: flex;
    margin-top: 290px;
}
.banner__text::before{
    content: "";
    display: block;
    width: 12px;
    height: 96px;
    background-color: #F16D7F;
    margin-right: 16px;
}
.banner__heading{
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 45px;
    margin: 0;
}
.subtitle{
    font-size: 32px;
    font-weight: 700;
}
.subtitle__pink{
    color: #F16D7F;
}
/*--------------------------------------------------------------Offers-------------------------------------------------------------------*/
.offers-flex{
    margin: 65px 0 96px 0
}
.offers-flex__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.offer__item{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.offer__img{
    filter: brightness(40%);
    
}
.offer__text{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;   
}
.offer__subtile{
    font-size: 16px;
    font-weight: 400;
}
.offer__heading{
    font-size: 24px;
    font-weight: 700;
    color: #F16D7F;
}
